<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "TBlog" %></h1>
  <p>A blog that I did for a tech challenge!</p>
</section>

<section class="row">
  <article class="column">
    <h2>Start here</h2>
    <ul>
      <li>
        <a href="/articles/new">New article</a>
      </li>
      <li>
        <a href="/articles">Show articles</a>
      </li>
    </ul>
  </article>
</section>
